<h4>New benefit</h4>

<div>
<h4>What are your Main and Goals</h4>
<%= image_tag("lift.jpg", :alt => "What I want to Be Like", :size => "150x120") %>
</div>

<%= render 'form' %>

<%= link_to 'Back', benefits_path %>
