<h3>New supplement</h3>

<div>
<h3>Hey Create a New Supplement</h3>
<%= image_tag("sim.jpg", :alt =>"I'm Simon Panda", :size => "160x100") %>
</div>

<%= render 'form' %>

<%= link_to 'Back', supplements_path %>
