<h1>New user</h1>

<div>
<h4>What are your Main and Goals</h4>
<%= image_tag("fitness.jpg", :alt => "What I want to Be Like", :size => "150x120") %>
</div>
<%= render 'form' %>

<%= link_to 'Back', users_path %>
